#main {
  margin: auto;
  width: 80%;
  display: block;
  padding: 0 0 60px 0;
  /* margin: 0 0 0 0; */
}

#top,
#bottom {
  width: 100%;
}

#age,
#height,
#weight {
  display: flex;
  float: left;
  width: calc(33% - 2px);
  border: 1px solid grey;
}

#eyes,
#skin,
#hair {
  display: flex;
  float: left;
  width: calc(33% - 2px);
  border: 1px solid grey;
  border-top: none;
}

.border-left-none {
  border-left: none;
}
