<div class="box" style="width: 30%" *ngFor="let cast of spellcastingClasses">
    <h2>{{cast.classIndex}} Spells</h2>
    <h3 *ngIf="cast.spellsKnownCount">Max Leveled Spells Known: {{cast.spellsKnownCount}}</h3>
    <h3 *ngIf="cast.maxPreparedSpells">Max Leveled Spells Prepared: {{cast.maxPreparedSpells}}</h3>

    <div class="box" *ngIf="cast.cantripsKnownCount">
        <h4>Cantrips</h4>
        <p>Max Learned Cantrips: {{cast.cantripsKnownCount}}</p> <br>

        <div *ngFor="let cantrip of cast.cantripsList">
            <input type="checkbox" [attr.checked]="(spellCheckboxes(cantrip[0], false, cast.classIndex)) ? true : null" value={{cantrip[0]}} id="cantrips" (click)="updateCantrips(cast.classIndex, cantrip[0], cantrip[1])">
            <label for="cantrips">{{cantrip[1]}}</label><br>
        </div>
    </div>

    <div *ngFor="let level of cast.spellSlotsArray; let i=index;">
        <div class="box" *ngIf="level > 0">
            <h4>Level {{i + 1}} Spells:</h4>
            <p>Spell Slots: {{level}}</p> <br>

            <div *ngFor="let spell of cast.spellsByLevel[i]">
                <input type="checkbox" [attr.checked]="(spellCheckboxes(spell[0], true, cast.classIndex)) ? true : null" value={{spell[0]}} id="leveledSpells" (click)="updateLeveledSpells(cast.classIndex, spell[0], spell[1])">
                <label for="leveledSpells">{{spell[1]}}</label><br>
            </div>
        </div>
    </div>
</div>