<h2>Appearance</h2>

<label for="charAge">Character Age: </label>
<input type="text" id="charAge" name="charAge" (change)="updateAge()">

<br><br>

<label for="charHeight">Character Height: </label>
<input type="text" id="charHeight" name="charHeight" (change)="updateHeight()">

<br><br>

<label for="charWeight">Character Weight: </label>
<input type="text" id="charWeight" name="charWeight" (change)="updateWeight()">

<br><br>

<label for="charEyes">Character Eyes: </label>
<input type="text" id="charEyes" name="charEyes" (change)="updateEyes()">

<br><br>

<label for="charSkin">Character Skin: </label>
<input type="text" id="charSkin" name="charSkin" (change)="updateSkin()">

<br><br>

<label for="charHair">Character Hair: </label>
<input type="text" id="charHair" name="charHair" (change)="updateHair()">

<br><br>

<label for="charAppearanceNotes">Other Appearance Notes: </label>
<input type="text" id="charAppearanceNotes" name="charAppearanceNotes" (change)="updateAdditionalNotes()">  <!--Make big-->