<h2>Appearance</h2>

<label for="charAge">Character Age: </label>
<input type="text" id="charAge" name="charAge">

<br><br>

<label for="charHeight">Character Height: </label>
<input type="text" id="charHeight" name="charHeight">

<br><br>

<label for="charWeight">Character Weight: </label>
<input type="text" id="charWeight" name="charWeight">

<br><br>

<label for="charEyes">Character Eyes: </label>
<input type="text" id="charEyes" name="charEyes">

<br><br>

<label for="charSkin">Character Skin: </label>
<input type="text" id="charSkin" name="charSkin">

<br><br>

<label for="charHair">Character Hair: </label>
<input type="text" id="charHair" name="charHair">

<br><br>

<label for="charAppearanceNotes">Other Appearance Notes: </label>
<input type="text" id="charAppearanceNotes" name="charAppearanceNotes">  <!--Make big-->