#prof,
#features,
#equipment {
  width: calc(33.3% - 6px);
  float: left;
  border-width: 3px;
}

#features {
  float: right;
}

#whole {
}

#equip-scroll,
#feature-scroll {
  overflow: scroll;
  height: 200px;
}
