<div class="container">
  <div id="dice-container">
    <div class="title no-right">Hit Dice</div>
    <div id="total-top">Total: {{ character.apiInfo.class.hitDie }}</div>
    <div id="total-bottom">
      <input type="text" id="hit-dice-total" />
    </div>
  </div>

  <div id="saves">
    <div class="title">Death Saves</div>
    <div id="saves-top">
      S:
      <input type="checkbox" id="s0" />
      <input type="checkbox" id="s1" />
      <input type="checkbox" id="s2" />
    </div>
    <div id="saves-bottom">
      F:
      <input type="checkbox" id="f0" />
      <input type="checkbox" id="f1" />
      <input type="checkbox" id="f2" />
    </div>
  </div>
</div>
