<div id="skills">
  <p class="title">Insp/Prof B</p>
  <app-num-box [title]="inspirationTitle"></app-num-box>
  <app-num-box
    [title]="proficiencyTitle"
    [value]="character.apiInfo.proficiencyBonus"
  ></app-num-box>
  <p>Saving Throws</p>
  <!-- TODO: pull from api -->
  <app-check-num-box
    [title]="strengthTitle"
    [value]="character.apiInfo.totalAbilityScores[0]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="dexterityTitle"
    [value]="character.apiInfo.totalAbilityScores[1]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="constitutionTitle"
    [value]="character.apiInfo.totalAbilityScores[2]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="inspirationTitle"
    [value]="character.apiInfo.totalAbilityScores[3]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="wisdomTitle"
    [value]="character.apiInfo.totalAbilityScores[4]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="charismaTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <p>Skills</p>
  <!-- TODO: find where the below values are -->
  <app-check-num-box
    [title]="acrobaticsTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="animalHandlingTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="arcanaTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="athleticsTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="deceptionTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="historyTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="insightTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="intimidationTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="investigationTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="medicineTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="natureTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="perceptionTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="performanceTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="persuasionTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="religionTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="sleightOfHandTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="stealthTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
  <app-check-num-box
    [title]="charismaTitle"
    [value]="character.apiInfo.totalAbilityScores[5]"
  ></app-check-num-box>
</div>
