<div id="skills">
    <p>Insp/Prof B</p>
    <app-num-box></app-num-box>
    <app-num-box></app-num-box>
    <p>Saving Throws</p>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <p>Skills</p>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
    <app-check-num-box></app-check-num-box>
</div>
