<div id="skills">
  <p class="title">Insp/Prof B</p>
  <app-num-box [title]="inspirationTitle"></app-num-box>
  <app-num-box
    [title]="proficiencyTitle"
    [value]="character.apiInfo.proficiencyBonus"
  ></app-num-box>
  <p>Saving Throws</p>
  <!-- TODO: pull from api -->
  <app-check-num-box
    [title]="strengthTitle"
    [value]="findModifier(characterData.abilityScores[0])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="dexterityTitle"
    [value]="findModifier(characterData.abilityScores[1])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="constitutionTitle"
    [value]="findModifier(characterData.abilityScores[2])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="intelligenceTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="wisdomTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="charismaTitle"
    [value]="findModifier(characterData.abilityScores[5])"
    [characterData]="characterData"
  ></app-check-num-box>
  <p>Skills</p>
  <!-- TODO: find where the below values are -->
  <app-check-num-box
    [title]="acrobaticsTitle"
    [value]="findModifier(characterData.abilityScores[1])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="animalHandlingTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="arcanaTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="athleticsTitle"
    [value]="findModifier(characterData.abilityScores[0])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="deceptionTitle"
    [value]="findModifier(characterData.abilityScores[5])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="historyTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="insightTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="intimidationTitle"
    [value]="findModifier(characterData.abilityScores[5])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="investigationTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="medicineTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="natureTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="perceptionTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="performanceTitle"
    [value]="findModifier(characterData.abilityScores[5])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="persuasionTitle"
    [value]="findModifier(characterData.abilityScores[5])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="religionTitle"
    [value]="findModifier(characterData.abilityScores[3])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="sleightOfHandTitle"
    [value]="findModifier(characterData.abilityScores[1])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="stealthTitle"
    [value]="findModifier(characterData.abilityScores[1])"
    [characterData]="characterData"
  ></app-check-num-box>
  <app-check-num-box
    [title]="survivalTitle"
    [value]="findModifier(characterData.abilityScores[4])"
    [characterData]="characterData"
  ></app-check-num-box>
</div>
