<div class="container">
    <h3>Paladin (PLACEHOLDER)</h3>

    <label for="classLevel">Level: </label>
    <select name="classLevel" id="classLevel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="etc">etc</option>
    </select>

    <h4>Proficiencies:</h4>
    <ul>
        <li>All armor</li>
        <li>Shields</li>
        <li>Simple and martial weapons</li>
        <li>Wisdom and Charisma saving throws   </li>
        <li>All armor</li>
    </ul>

    <h4>Traits</h4>
    <ul>
        <li>Divine Sense</li>
        <li>Lay on Hands</li>
    </ul>

    <h4>Skills (Choose Two):</h4>
    <input type="checkbox" id="athletics" name="athletics" value="athletics">
    <label for="athletics"> Athletics</label><br>
    <input type="checkbox" id="insight" name="insight" value="insight">
    <label for="insight"> Insight</label><br>
    <input type="checkbox" id="intimidation" name="intimidation" value="intimidation">
    <label for="intimidation"> Intimidation</label><br>
    <input type="checkbox" id="medicine" name="medicine" value="medicine">
    <label for="medicine"> Medicine</label><br>
    <input type="checkbox" id="persuation" name="persuation" value="persuation">
    <label for="persuation"> Persuasion</label><br>
    <input type="checkbox" id="religion" name="religion" value="religion">
    <label for="religion"> Religion</label><br>
</div>