<div id="name">
    Name
</div>
<div id="additional-stats">
    <div id="top">
        <div id="class">Class</div>
        <div id="level">Level</div>
        <div id="background">Background</div>
        <div id="player-name">Player Name</div>
    </div>
    <div id="bottom">
        <div id="race">Race</div>
        <div id="alignment">Alignment</div>
        <div id="experience">
            <label for="xp">Exp: </label>
            <input id="xp" type="Text">
        </div>
    </div>
</div>