<h2>Personality</h2>

<label for="alignment">Character Alignment: </label>
<select name="alignment" id="alignment" (change)="updateAlignment()">
    <option selected>Select</option>

    <option value="lawfulGood">Lawful Good</option>
    <option value="lawfulNeutral">Lawful Neutral</option>
    <option value="lawfulEvil">Lawful Evil</option>

    <option value="neutralGood">Neutral Good</option>
    <option value="trueNeutral">True Neutral</option>
    <option value="neutralEvil">Neutral Evil</option>

    <option value="chaoticGood">Chaotic Good</option>
    <option value="chaoticNeutral">Chaotic Neutral</option>
    <option value="chaoticEvil">Chaotic Evil</option>
</select>

<br><br>

<p>Personality Traits: </p>
<input type="text" id="userTrait" name="userTrait" (change)="updateTraits()">



<br><br>


<p >Ideals: </p>
<input type="text" id="userIdeal" name="userIdeal" (change)="updateIdeals()">
  


<br><br>



<p>Bonds: </p>
<input type="text" id="userBond" name="userBond" (change)="updateBonds()">



<br><br>



<p>Flaws: </p>
  
<input type="text" id="userFlaw" name="userFlaw" (change)="updateFlaws()">