<h2>Personality</h2>

<label for="alignment">Character Alignment: </label>
<select name="alignment" id="alignment" (change)="updateAlignment()">
    <option selected>Select</option>

    <option value="lawfulGood">Lawful Good</option>
    <option value="lawfulNeutral">Lawful Neutral</option>
    <option value="lawfulEvil">Lawful Evil</option>

    <option value="neutralGood">Neutral Good</option>
    <option value="trueNeutral">True Neutral</option>
    <option value="neutralEvil">Neutral Evil</option>

    <option value="chaoticGood">Chaotic Good</option>
    <option value="chaoticNeutral">Chaotic Neutral</option>
    <option value="chaoticEvil">Chaotic Evil</option>
</select>

<br><br>

<p>Personality Traits</p>
<input type="checkbox" id="sampleTrait1" name="sampleTrait1" value="trait1">
  <label for="sampleTrait1"> Sample Personality Trait 1</label><br>
<input type="checkbox" id="sampleTrait2" name="sampleTrait2" value="trait2">
  <label for="sampleTrait2"> Sample Personality Trait 2</label><br>
<input type="checkbox" id="sampleTrait3" name="sampleTrait3" value="trait3">
  <label for="sampleTrait3"> Sample Personality Trait 3</label><br>
  
<label for="userTrait">Additional Trait(s): </label>
<input type="text" id="userTrait" name="userTrait" (change)="updateTraits()">



<br><br>



<p>Ideals</p>
<input type="checkbox" id="sampleIdeal1" name="sampleIdeal1" value="ideal1">
  <label for="sampleIdeal1"> Sample Ideal 1</label><br>
<input type="checkbox" id="sampleIdeal2" name="sampleIdeal2" value="ideal2">
  <label for="sampleIdeal2"> Sample Ideal 2</label><br>
<input type="checkbox" id="sampleIdeal3" name="sampleIdeal3" value="ideal3">
  <label for="sampleIdeal3"> Sample Ideal 3</label><br>

<label for="userIdeal">Additional Ideal(s): </label>
<input type="text" id="userIdeal" name="userIdeal" (change)="updateIdeals()">
  


<br><br>



<p>Bonds</p>
<input type="checkbox" id="sampleBond1" name="sampleBond1" value="bond1">
  <label for="sampleBond1"> Sample Bond 1</label><br>
<input type="checkbox" id="sampleBond2" name="sampleBond2" value="bond2">
  <label for="sampleBond2"> Sample Bond 2</label><br>
<input type="checkbox" id="sampleBond3" name="sampleBond3" value="bond3">
  <label for="sampleBond3"> Sample Bond 3</label><br>
  
<label for="userBond">Additional Bond(s): </label>
<input type="text" id="userBond" name="userBond" (change)="updateBonds()">



<br><br>



<p>Flaws</p>
<input type="checkbox" id="sampleFlaw1" name="sampleFlaw1" value="flaw1">
  <label for="sampleFlaw1"> Sample Flaw 1</label><br>
<input type="checkbox" id="sampleFlaw2" name="sampleFlaw2" value="flaw2">
  <label for="sampleFlaw2"> Sample Flaw 2</label><br>
<input type="checkbox" id="sampleFlaw3" name="sampleFlaw3" value="flaw3">
  <label for="sampleFlaw3"> Sample Flaw 3</label><br>
  
<label for="userFlaw">Additional Flaw(s): </label>
<input type="text" id="userFlaw" name="userFlaw" (change)="updateFlaws()">