<h2>Stats</h2>

<label for="generationMethod">Ability Score Generaton Method: </label>
<select name="generationMethod" id="generationMethod" (change)="newGenMethod()">
    <option selected>Select</option>
    <option value="standardArray">Standard Array</option>
    <option value="manualEntry">Manual Entry</option>
    <option value="pointBuy">Point Buy</option>
</select>

<div class="standardArray" *ngIf="standardArray">
    <br><br>

    <div class="stats">
        <div class="statblock" *ngFor="let stat of stats">
            <label>
                {{stat}}
            </label>
            <select>
                <option *ngFor="let num of standardArraySet">{{num}}</option>
            </select>
        </div>
    </div>
</div>

<div class="manualEntry" *ngIf="manualEntry">
    <br><br>

    <div class="statblock" *ngFor="let stat of stats, index as i">
        <label>{{stat}}</label>
        <input type="text" id="manualEntry{{i}}" [(ngModel)]="enteredStats[i]" (change)="updateStat(i)">
    </div>
</div>

<div class="pointBuy" *ngIf="pointBuy">
    <br><br>

    <p>Points: {{pointBuyPoints}} / 27</p>

    <div class="statblock" *ngFor="let stat of stats">
        <label>
            {{stat}}
        </label>
        <select>  <!--TODO: Add functionality, have selections update point count and options-->
            <option selected>8</option>
            <option>9 (-1 Point)</option>
            <option>10 (-2 Point)</option>
            <option>11 (-3 Point)</option>
            <option>12 (-4 Point)</option>
            <option>13 (-5 Point)</option>
            <option>14 (-7 Point)</option>
            <option>15 (-9 Point)</option>
        </select>
    </div>
</div>