<h2>Name, Race, Background</h2>

<label for="charName">Character Name: </label>
<input type="text" id="charName" name="charName">

<br><br>

<label for="charRace">Character Race: </label>
<select name="charRace" id="charRace">
    <option selected>Select</option>
    <option value="example1">Race Example 1</option>
    <option value="example2">Race Example 2</option>
    <option value="example3">Race Example 3</option>
</select>

<br><br>

<label for="charBackground">Character Background: </label>
<select name="charBackground" id="charBackground">
    <option selected>Select</option>
    <option value="example1">Background Example 1</option>
    <option value="example2">Background Example 2</option>
    <option value="example3">Background Example 3</option>
</select>