<h2>Name, Race, Background</h2>

<label for="charName">Character Name: </label>
<input type="text" id="charName" name="charName">

<br><br>

<label for="charRace">Character Race: </label>
<select name="charRace" id="charRace">
    <option selected>Select</option>
    <option *ngFor="let race of raceList" [value]="race.index">{{race.name}}</option>
</select>

<br><br>

<label for="charBackground">Character Background: </label>
<select name="charBackground" id="charBackground">
    <option selected>Select</option>
    <option *ngFor="let background of backgroundList" [value]="background.index">{{background.name}}</option>
</select>