<h2>Class / Classes</h2>

<p>Total Character Level: {{totalLevel}}</p>

<div class="container" *ngFor="let charClass of charClasses, index as i">
    <h3>{{charClass.classIndex}}</h3>

    <label for="{{i}}classLevel">Level: </label>
    <select name="{{i}}classLevel" id="{{i}}classLevel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="etc">etc</option>
    </select>

    <h4>Features:</h4>

    <div *ngFor="let feat of charClassesInfo[i].levelFeatures">
        <p>{{feat[0]}}: </p>
        <p *ngFor="let line of feat[1]">{{line}}</p>

        <br>
    </div>

    <div *ngIf="charClass == charClasses[0]">
        <h4>Proficiencies:</h4>
        <ul>
            <li *ngFor="let prof of charClassesInfo[i].skillProficiencies">{{prof[1]}}</li>
        </ul>
    </div>

    <div *ngIf="charClass == charClasses[0]">
        <h4>Skills (Choose {{charClassesInfo[i].skillProficiencyCount}}):</h4>

        <div *ngFor="let profOption of charClassesInfo[i].userProficienciesOptions">
            <input type="checkbox" id="skillProfOptions" [attr.checked]="(classesCheckboxes(profOption[0], currentChar.classes[i].chosenProficiencyIndex)) ? true : null" value={{profOption[0]}} (click)="updateClassProficiency(profOption[0], profOption[1], i)">
            <label for="skillProfOptions"> {{profOption[1]}}</label><br>
        </div>
    </div>
</div>

<br><br>

<label for="newClass">Add New Class: </label>
<select name="newClass" id="newClass" (change)="newClassSelected()">
    <option selected>Select</option>
    <option *ngFor="let oneClass of classList" [value]="oneClass.index">{{oneClass.name}}</option>
</select>