<div id="whole">
    <div class="center">
        Attacks & Spellcasting
    </div>
    <div id="attacks">
        <ul>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
        </ul>
    </div>
    <div class="center">
        Equipable
    </div>
    <div id="gear">
        <ul>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
            <li>Dagger - #d#- Piercing</li>
        </ul>
    </div>
</div>
