#whole {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  margin: 0 10px 0 10px;
}

#attacks {
  overflow: auto;
  height: 5.5rem;
  max-height: 5.5rem;
  border: 1px solid grey;
  margin: 0 10px 10px 10px;
}

#gear {
  overflow: auto;
  height: 10.4rem;
  max-height: 10.4rem;
  border: 1px solid grey;
  margin: 0 10px 10px 10px;
}
