.center {
    text-align: center;
}

div {
    border-style: outset;
    border-width: 3px;
}

#attacks {
    overflow: scroll;
    height: 5.5rem;
}

#gear {
    overflow: scroll;
    height: 10.4rem;
}