<mat-toolbar color="primary" class="nav-container">
  <div>GLJ-Technologies</div>

  <div *ngIf="this.sharedVariablesService.showMenu" class="nav-btn-spacing">
    <div class="username">{{ this.sharedVariablesService.username }}</div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="GoHome()" mat-menu-item>Home</button>
      <button (click)="GoCreate()" mat-menu-item>Create Character</button>
      <button (click)="GoList()" mat-menu-item>View Characters</button>
      <button (click)="Logout()" mat-menu-item>Logout</button>
      <!-- Add more menu items as needed -->
    </mat-menu>
  </div>
</mat-toolbar>
