<div id="attacks">
  <div id="ac-and-stuff">
    <!-- TODO: get from api -->
    <app-char-stat-block
      [modifier]="character.abilityScores[2]"
      [total]="armorTitle[0]"
    ></app-char-stat-block>
    <app-char-stat-block
      [modifier]="character.abilityScores[2]"
      [total]="armorTitle[1]"
    ></app-char-stat-block>
    <app-char-stat-block
      [modifier]="character.apiInfo.race.speed"
      [total]="armorTitle[2]"
    ></app-char-stat-block>
  </div>
  <p>-</p>
  <div id="hp">
    <app-hp-container
      [characterData]="characterData"
      [character]="character"
    ></app-hp-container>
  </div>
  <p>-</p>
  <div id="hit-dice">
    <app-death-saves [character]="character"></app-death-saves>
  </div>
  <p>-</p>
  <div id="spellcasting">
    <app-char-attack-spellcasting
      [character]="character"
      [characterData]="characterData"
    ></app-char-attack-spellcasting>
  </div>
</div>
