#attacks {
  /* display: block; */
  display: flex;
  flex-direction: column;
  float: left;
  width: calc(30% - 6px);
}

app-char-stat-block {
  width: 33.3%;
  float: left;
}

#ac-and-stuff {
  margin: 20px 0 20px 0;
}

#hp {
  margin: 0 0 20px 0;
}

#hit-dice {
  margin: 0 0 20px 0;
}

#spellcasting {
  margin: 0 0 20px 0;
}

p {
  color: white;
}
