<h2>Equipment</h2>

<div *ngIf="startingClass == 'barbarian' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>Explorer's pack</li>
        <li>4 javelins</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['greataxe', 1]]); updateSelected('1a')">
        <label for="1a">(a) A greataxe</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('barb-1b'); updateSelected('1b')">
        <label for="1b">(b) Any martial melee weapon</label><br>

        <div id="barb-1b" style="display: none">
            <select name="barb-1b-1" id="barb-1b-1" (change)="addItemsFromSelect('barb-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_melee_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
        
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['handaxe', 2]]); updateSelected('2a')">
        <label for="2a">(a) Two handaxes</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('barb-2b'); updateSelected('2b')">
        <label for="2b">(b) Any simple weapon</label><br>

        <div id="barb-2b" style="display: none">
            <select name="barb-2b-1" id="barb-2b-1" (change)="addItemsFromSelect('barb-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
        
    </div>
</div>

<div *ngIf="startingClass == 'bard' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>Leather armor</li>
        <li>1 dagger</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['rapier', 1]]); updateSelected('1a')">
        <label for="1a">(a) A rapier</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['longsword', 1]]); updateSelected('1b')">
        <label for="1b">(b) A longsword</label><br>

        <input type="radio" id="1c" name="classEquipment1" value="1c" 
            [attr.checked]="(chosenOptions.includes('1c')) ? true : null" (click)="revealCategory('bard-1c'); updateSelected('1c')">
        <label for="1c">(c) Any simple weapon</label><br>

        <div id="bard-1c" style="display: none">
            <select name="bard-1c-1" id="bard-1c-1" (change)="addItemsFromSelect('bard-1c-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['diplomats-pack', 1]]); updateSelected('2a')">
        <label for="2a">(a) A diplomat's pack</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="addItems([['entertainers-pack', 1]]); updateSelected('2b')">
        <label for="2b">(b) An entertainer's pack</label><br>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['lute', 1]]); updateSelected('3a')">
        <label for="3a">(a) A lute</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="revealCategory('bard-3b'); updateSelected('3b')">
        <label for="3b">(b) Any other musical instrument</label><br>

        <div id="bard-3b" style="display: none">
            <select name="bard-3b-1" id="bard-3b-1" (change)="addItemsFromSelect('bard-3b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of musical_instruments" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>
</div>

<div *ngIf="startingClass == 'cleric' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>1 shield</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['mace', 1]]); updateSelected('1a')">
        <label for="1a">(a) A mace</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['warhammer', 1]]); updateSelected('1b')">
        <label for="1b">(b) A warhammer</label><br>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['scale-mail', 1]]); updateSelected('2a')">
        <label for="2a">(a) Scale mail</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="addItems([['leather-armor', 1]]); updateSelected('2b')">
        <label for="2b">(b) Leather armor</label><br>

        <input type="radio" id="2c" name="classEquipment2" value="2c" 
            [attr.checked]="(chosenOptions.includes('2c')) ? true : null" (click)="addItems([['chain-mail', 1]]); updateSelected('2c')">
        <label for="2c">(c) Chain mail</label><br>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['crossbow-light', 1], ['crossbow-bolt', 20]]); updateSelected('3a')">
        <label for="3a">(a) A light crossbow and 20 bolts</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="revealCategory('cleric-3b'); updateSelected('3b')">
        <label for="3b">(b) Any simple weapon</label><br>

        <div id="cleric-3b" style="display: none">
            <select name="cleric-3b-1" id="cleric-3b-1" (change)="addItemsFromSelect('cleric-3b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="4a" name="classEquipment4" value="4a" 
            [attr.checked]="(chosenOptions.includes('4a')) ? true : null" (click)="addItems([['priests-pack', 1]]); updateSelected('4a')">
        <label for="4a">(a) A priest's pack</label><br>

        <input type="radio" id="4b" name="classEquipment4" value="4b" 
            [attr.checked]="(chosenOptions.includes('4b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('4b')">
        <label for="4b">(b) An explorer's pack</label><br>
    </div>

    <div>
        <label for="cleric-holySymbol">A holy symbol: </label>
        <select name="cleric-holySymbol" id="cleric-holySymbol" (change)="addItemsFromSelect('cleric-holySymbol')">
            <option selected value="none">Select</option>
            <option *ngFor="let item of holy_symbols" [value]="item[0]">{{item[1]}}</option>
        </select>
    </div>
</div>

<div *ngIf="startingClass == 'druid' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>Leather armor</li>
        <li>Explorer's pack</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['shield', 1]]); updateSelected('1a')">
        <label for="1a">(a) A wooden shield</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('druid-1b'); updateSelected('1b')">
        <label for="1b">(b) Any simple weapon</label><br>

        <div id="druid-1b" style="display: none">
            <select name="druid-1b-1" id="druid-1b-1" (change)="addItemsFromSelect('druid-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['scimitar', 1]]); updateSelected('2a')">
        <label for="2a">(a) A scimitar</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('druid-2b'); updateSelected('2b')">
        <label for="2b">(b) Any simple melee weapon</label><br>

        <div id="druid-2b" style="display: none">
            <select name="druid-2b-1" id="druid-2b-1" (change)="addItemsFromSelect('druid-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_melee_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <label for="druid-druidicFocus">A druidic focus</label><br>
        <select name="druid-druidicFocus" id="druid-druidicFocus" (change)="addItemsFromSelect('druid-druidicFocus')">
            <option selected value="none">Select</option>
            <option *ngFor="let item of druidic_foci" [value]="item[0]">{{item[1]}}</option>
        </select>
    </div>
</div>

<div *ngIf="startingClass == 'fighter' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['chain-mail', 1]]); updateSelected('1a')">
        <label for="1a">(a) Chain mail</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['leather-armor', 1], ['longbow', 1], ['arrow', 20]]); updateSelected('1b')">
        <label for="1b">(b) Leather armor, a longbow, and 20 arrows</label><br>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['shield', 1]]); revealCategory('fighter-2a'); updateSelected('2a')">
        <label for="2a">(a) A martial weapon and a shield</label><br>

        <div id="fighter-2a" style="display: none">
            <select name="fighter-2a-1" id="fighter-2a-1" (change)="addItemsFromSelect('fighter-2a-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('fighter-2b'); updateSelected('2b')">
        <label for="2b">(b) Two martial weapons</label><br>

        <div id="fighter-2b" style="display: none">
            <select name="fighter-2b-1" id="fighter-2b-1" (change)="addItemsFromSelect('fighter-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>

            <select name="fighter-2b-2" id="fighter-2b-2" (change)="addItemsFromSelect('fighter-2b-2')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>

    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['crossbow-light', 1], ['crossbow-bolt', 20]]); updateSelected('3a')">
        <label for="3a">(a) A light crossbow and 20 bolts</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['handaxe', 2]]); updateSelected('3b')">
        <label for="3b">(b) Two handaxes</label><br>
    </div>

    <div>
        <input type="radio" id="4a" name="classEquipment4" value="4a" 
            [attr.checked]="(chosenOptions.includes('4a')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('4a')">
        <label for="4a">(a) A dungeoneer's pack</label><br>

        <input type="radio" id="4b" name="classEquipment4" value="4b" 
            [attr.checked]="(chosenOptions.includes('4b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('4b')">
        <label for="4b">(b) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == 'monk' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>10 darts</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['shortsword', 1]]); updateSelected('1a')">
        <label for="1a">(a) A shortsword</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('monk-1b'); updateSelected('1b')">
        <label for="1b">(b) Any simple weapon</label><br>

        <div id="monk-1b" style="display: none">
            <select name="monk-1b-1" id="monk-1b-1" (change)="addItemsFromSelect('monk-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('2a')">
        <label for="2a">(a) A dungeoneer's pack</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('2b')">
        <label for="2b">(b) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == 'paladin' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>Chain mail</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['shield', 1]]); revealCategory('paladin-1a'); updateSelected('1a')">
        <label for="1a">(a) A martial weapon and a shield</label><br>

        <div id="paladin-1a" style="display: none">
            <select name="paladin-1a-1" id="paladin-1a-1" (change)="addItemsFromSelect('paladin-1a-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('paladin-1b'); updateSelected('1b')">
        <label for="1b">(b) Two martial weapons</label><br>

        <div id="paladin-1b" style="display: none">
            <select name="paladin-1b-1" id="paladin-1b-1" (change)="addItemsFromSelect('paladin-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>

            <select name="paladin-1bb-2" id="paladin-1b-2" (change)="addItemsFromSelect('paladin-1b-2')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of martial_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['javelin', 5]]); updateSelected('2a')">
        <label for="2a">(a) 5 javelins</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('paladin-2b'); updateSelected('2b')">
        <label for="2b">(b) Any simple melee weapon</label><br>

        <div id="paladin-2b" style="display: none">
            <select name="paladin-2b-1" id="paladin-2b-1" (change)="addItemsFromSelect('paladin-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_melee_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['priests-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A priest's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) An explorer's pack</label><br>
    </div>

    <div>
        <label for="paladin-holySymbol">A holy symbol: </label>
        <select name="paladin-holySymbol" id="paladin-holySymbol" (change)="addItemsFromSelect('paladin-holySymbol')">
            <option selected value="none">Select</option>
            <option *ngFor="let item of holy_symbols" [value]="item[0]">{{item[1]}}</option>
        </select>
    </div>
</div>

<div *ngIf="startingClass == 'ranger' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>1 longbow</li>
        <li>20 arrows</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['scale-mail', 1]]); updateSelected('1a')">
        <label for="1a">(a) Scale mail</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['leather-armor', 1]]); updateSelected('1b')">
        <label for="1b">(b) Leather armor</label><br>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['shortsword', 2]]); updateSelected('2a')">
        <label for="2a">(a) 2 shortswords</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('ranger-2b'); updateSelected('2b')">
        <label for="2b">(b) 2 simple melee weapons</label><br>

        <div id="ranger-2b" style="display: none">
            <select name="ranger-2b-1" id="ranger-2b-1" (change)="addItemsFromSelect('ranger-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_melee_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>

            <select name="ranger-2b-2" id="ranger-2b-2" (change)="addItemsFromSelect('ranger-2b-2')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_melee_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A dungeoneer's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == 'rogue' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>Leather armor</li>
        <li>2 daggers</li>
        <li>Thieves' tools</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['rapier', 1]]); updateSelected('1a')">
        <label for="1a">(a) A rapier</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['shortsword', 1]]); updateSelected('1b')">
        <label for="1b">(b) A shortsword</label><br>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['shortbow', 1], ['arrow', 20]]); updateSelected('2a')">
        <label for="2a">(a) A shortbow and quiver of 20 arrows</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="addItems([['shortsword', 1]]); updateSelected('2b')">
        <label for="2b">(b) A shortsword</label><br>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['burglars-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A burglar's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) A dungeoneer's pack</label><br>

        <input type="radio" id="3c" name="classEquipment3" value="3c" 
            [attr.checked]="(chosenOptions.includes('3c')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('3c')">
        <label for="3c">(c) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == 'sorcerer' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>2 daggers</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['crossbow-light', 1], ['crossbow-bolt', 20]]); updateSelected('1a')">
        <label for="1a">(a) A light crossbow and 20 bolts</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('sorcerer-1b'); updateSelected('1b')">
        <label for="1b">(b) Any simple weapon</label><br>

        <div id="sorcerer-1b" style="display: none">
            <select name="sorcerer-1b-1" id="sorcerer-1b-1" (change)="addItemsFromSelect('sorcerer-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['component-pouch', 1]]); updateSelected('2a')">
        <label for="2a">(a) A component pouch</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('sorcerer-2b'); updateSelected('2b')">
        <label for="2b">(b) An arcane focus</label><br>

        <div id="sorcerer-2b" style="display: none">
            <select name="sorcerer-2b-1" id="sorcerer-2b-1" (change)="addItemsFromSelect('sorcerer-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of arcane_foci" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A dungeoneer's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == 'warlock' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>2 daggers</li>
        <li>Leather armor</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['crossbow-light', 1], ['crossbow-bolt', 20]]); updateSelected('1a')">
        <label for="1a">(a) A light crossbow and 20 bolts</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="revealCategory('warlock-1b'); updateSelected('1b')">
        <label for="1b">(b) Any simple weapon</label><br>

        <div id="warlock-1b" style="display: none">
            <select name="warlock-1b-1" id="warlock-1b-1" (change)="addItemsFromSelect('warlock-1b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['component-pouch', 1]]); updateSelected('2a')">
        <label for="2a">(a) A component pouch</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('warlock-2b'); updateSelected('2b')">
        <label for="2b">(b) An arcane focus</label><br>

        <div id="warlock-2b" style="display: none">
            <select name="warlock-2b-1" id="warlock-2b-1" (change)="addItemsFromSelect('warlock-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of arcane_foci" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['scholars-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A scholar's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['dungeoneers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) A dungeoneer's pack</label><br>
    </div>

    <div>
        <label for="warlock-simpleWeapon">Any simple weapon: </label>
        <select name="warlock-simpleWeapon" id="warlock-simpleWeapon" (change)="addItemsFromSelect('warlock-simpleWeapon')">
            <option selected value="none">Select</option>
            <option *ngFor="let item of simple_weapons" [value]="item[0]">{{item[1]}}</option>
        </select>
    </div>
</div>

<div *ngIf="startingClass == 'wizard' && currentChar.startingEquipmentSelected == false" class="container">
    <h4>Starting Equipment:</h4>

    <ul>
        <li>1 spellbook</li>
    </ul>

    <p>Choose between...</p>

    <div>
        <input type="radio" id="1a" name="classEquipment1" value="1a" 
            [attr.checked]="(chosenOptions.includes('1a')) ? true : null" (click)="addItems([['quarterstaff', 1]]); updateSelected('1a')">
        <label for="1a">(a) A quarterstaff</label><br>

        <input type="radio" id="1b" name="classEquipment1" value="1b" 
            [attr.checked]="(chosenOptions.includes('1b')) ? true : null" (click)="addItems([['dagger', 1]]); updateSelected('1b')">
        <label for="1b">(b) A dagger</label><br>
    </div>

    <div>
        <input type="radio" id="2a" name="classEquipment2" value="2a" 
            [attr.checked]="(chosenOptions.includes('2a')) ? true : null" (click)="addItems([['component-pouch', 1]]); updateSelected('2a')">
        <label for="2a">(a) A component pouch</label><br>

        <input type="radio" id="2b" name="classEquipment2" value="2b" 
            [attr.checked]="(chosenOptions.includes('2b')) ? true : null" (click)="revealCategory('wizard-2b'); updateSelected('2b')">
        <label for="2b">(b) An arcane focus</label><br>

        <div id="wizard-2b" style="display: none">
            <select name="wizard-2b-1" id="wizard-2b-1" (change)="addItemsFromSelect('wizard-2b-1')">
                <option selected value="none">Select</option>
                <option *ngFor="let item of arcane_foci" [value]="item[0]">{{item[1]}}</option>
            </select>
        </div>
    </div>

    <div>
        <input type="radio" id="3a" name="classEquipment3" value="3a" 
            [attr.checked]="(chosenOptions.includes('3a')) ? true : null" (click)="addItems([['scholars-pack', 1]]); updateSelected('3a')">
        <label for="3a">(a) A scholar's pack</label><br>

        <input type="radio" id="3b" name="classEquipment3" value="3b" 
            [attr.checked]="(chosenOptions.includes('3b')) ? true : null" (click)="addItems([['explorers-pack', 1]]); updateSelected('3b')">
        <label for="3b">(b) An explorer's pack</label><br>
    </div>
</div>

<div *ngIf="startingClass == undefined">
    <h2>Select a starting class in the Classes tab to view starting equipment options.</h2>
</div>

<br><br>

<div style="display: none;">
    <h4>Manage Inventory</h4>
    <div class="grid" *ngFor="let item of charItems" style="width: 30%;">
        <p>{{item}}</p>
        <button type="button">Remove</button>
    </div>

    <h4>Add Items</h4>
    <label for="search">Item Search: </label>
    <input type="text" id="search" name="search">
    <div style="width: 30%;">
        <p>Results: </p>
    </div>
</div>
