<div class="home-page-container">
  <h2>GLJ D&D App</h2>
  <h4>Login or Signup to view your D&D characters</h4>
  <div class="login-container">
    <div class="login-inputs">
      <label for="username">Username</label>
      <input type="text" class="user-pass-textbox" id="username" />

      <label for="password">Password</label>
      <input type="text" class="user-pass-textbox" id="password" />
    </div>
    <div class="divider"></div>
    <div class="signup-button-container">
      <button class="signup-button">Sign Up</button>
    </div>
  </div>
</div>
