<div class="home-page-container">
  <h2>GLJ D&D App</h2>
  <h4>Login or Signup to view your D&D characters</h4>

  <mat-card class="login-container">
    <div class="login-inputs">
      <label for="username">Username</label>
      <input
        type="text"
        [(ngModel)]="username"
        class="user-pass-textbox"
        id="username"
      />

      <label for="password">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        autocomplete="off"
        class="user-pass-textbox"
        id="password"
      />
    </div>
    <button
      mat-raised-button
      color="primary"
      class="home-button-styles"
      (click)="Login()"
    >
      Login
    </button>
    <div class="divider-container">
      <div class="divider"></div>
      <div class="divider-text">or</div>
      <div class="divider"></div>
    </div>
    <div class="signup-button-container">
      <button
        routerLink="/signup"
        mat-raised-button
        color="primary"
        class="home-button-styles"
      >
        Sign Up
      </button>
    </div>
  </mat-card>
</div>
