<div class="char-card-container">
  <div class="char-details">
    <div class="favorite-indicator">
      <div class="name">Gabriel Blake</div>
      <mat-icon class="star-icon">star</mat-icon>
    </div>

    <div class="race">Orc</div>
    <div class="class">Wizard</div>
    <div class="level">27</div>
  </div>
  <div class="char-controls-container">
    <Button class="button-styles view-button">View</Button>
    <Button class="button-styles">Edit</Button>
    <Button class="button-styles favorite-button">Favorite</Button>
  </div>
</div>
