<div class="char-card-container">
  <div class="char-details">
    <div class="favorite-indicator">
      <div class="name">Name: {{ character.name }}</div>
      <span *ngIf="character.favorite">
        <mat-icon class="star-icon">star</mat-icon>
      </span>
    </div>

    <div class="race">Race: {{ character.race.raceIndex }}</div>
    <div class="class">Class: {{ character.classes[0].classIndex }}</div>
    <div class="level">Level: {{ character.overallLevel }}</div>
  </div>
  <div class="char-controls-container">
    <Button routerLink="/sheet-view" class="button-styles view-button"
      >View</Button
    >
    <Button routerLink="/create-edit" class="button-styles">Edit</Button>
    <Button (click)="openDelete(character._id)" class="button-styles"
      >Delete</Button
    >
    <Button class="button-styles favorite-button" (click)="toggleFavorite()">{{
      character.favorite ? "Unfavorite" : "Favorite"
    }}</Button>
  </div>
</div>
